<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="edu.buffalo.cse.jive.preferences.common_filters">
        <listEntry value="antlr.*"/>
        <listEntry value="com.apple.*"/>
        <listEntry value="com.mysql.*"/>
        <listEntry value="com.sun.*"/>
        <listEntry value="java.*"/>
        <listEntry value="javax.*"/>
        <listEntry value="org.apache.*"/>
        <listEntry value="org.eclipse.*"/>
        <listEntry value="org.hibernate.*"/>
        <listEntry value="org.jcp.*"/>
        <listEntry value="org.junit.*"/>
        <listEntry value="org.postgresql.*"/>
        <listEntry value="org.w3c.*"/>
        <listEntry value="org.xml.*"/>
        <listEntry value="sun.*"/>
        <listEntry value="$Proxy*"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Dining_Philosopher_Rmi/src/ForkServer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ForkServer"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Dining_Philosopher_Rmi"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="localhost"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dining_Philosopher_Rmi"/>
</launchConfiguration>
